@using BlazorInMvc.Pages.Components
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <p>Learn more about our company.</p>

   @*  @(await Html.RenderComponentAsync<Counter>(
        RenderMode.ServerPrerendered 
        )) *@
</div>
