@using Domain.Entity.Settings
 @model User
@{
    ViewData["Title"] = "Register";
}

<main class="main" id="top">
    <div class="container-fluid">
        <div class="row min-vh-100 flex-center g-0">
            <div class="col-lg-8 col-xxl-5 py-3 position-relative">
                <div class="card overflow-hidden z-1">
                    <div class="card-body p-0">
                        <div class="row g-0 h-100">
                            <!-- Left Side -->
                            <div class="col-md-5 text-center bg-card-gradient">
                                <div class="position-relative p-4 pt-md-5 pb-md-7">
                                    <a class="link-light mb-4 font-sans-serif fs-5 d-inline-block fw-bolder" href="/">RCell-E</a>
                                    <p class="opacity-75 text-white">With RCellE, you can focus on building your product while we handle the UI design.</p>
                                </div>
                                <div class="mt-3 mb-4">
                                    <p class="pt-3 text-white">
                                        Have an account?<br>
                                        <a class="btn btn-outline-light mt-2 px-4" href="/Home/Login">Log In</a>
                                    </p>
                                </div>
                            </div>

                            <!-- Right Side (Form) -->
                            <div class="col-md-7 d-flex flex-center">
                                <div class="p-4 p-md-5 flex-grow-1">
                                    <h3>Register</h3>
                                    <form asp-action="SignUp" asp-controller="Home" method="post">
                                        <div class="mb-3">
                                            <label class="form-label" asp-for="Name">User Name</label>
                                            <input type="text" class="form-control" asp-for="Name" autocomplete="on">
                                            <span class="text-danger" asp-validation-for="Name"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" asp-for="PhoneNo">Phone No.</label>
                                            <input type="text" class="form-control" asp-for="PhoneNo" autocomplete="on">
                                            <span class="text-danger" asp-validation-for="PhoneNo"></span>
                                        </div>
                                        <div class="row gx-2">
                                            <div class="mb-3">
                                                <label class="form-label" asp-for="Password">Password</label>
                                                <input type="password" class="form-control" asp-for="Password" autocomplete="on">
                                                <span class="text-danger" asp-validation-for="Password"></span>
                                            </div>
                                             
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" asp-for="RememberMe" />
                                            <label class="form-check-label" asp-for="RememberMe">I accept the <a href="#">terms</a> and <a class="white-space-nowrap" href="#">privacy policy</a></label>
                                        </div>
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-primary d-block w-100 mt-3">Register</button>
                                        </div>
                                    </form>

                                    <div class="position-relative mt-4">
                                        <hr>
                                        <div class="divider-content-center">or register with</div>
                                    </div>
                                    <div class="row g-2 mt-2">
                                        <div class="col-sm-6"><a class="btn btn-outline-google-plus btn-sm d-block w-100"><span class="fab fa-google-plus-g me-2"></span> Google</a></div>
                                        <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100"><span class="fab fa-facebook-square me-2"></span> Facebook</a></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Form Panel End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
@* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
 *@